/*  global styles */
body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: $container-space;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
