/* main wrap */
.main-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* header styles */

.logo-link {
  display: inline-block;
}

.nav-item {
  position: relative;
}

.nav-link,
.nav-reveal {
  font-size: $fs-sm;
  color: $blue-dark;
  font-weight: 600;
  line-height: 28px;
  margin-right: 50px;
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.nav-link:hover {
  color: $orange;
}

.nav-arrow {
  width: 9px;
  height: 9px;
  display: inline-block;
  border-bottom: 2px solid $blue-dark;
  border-right: 2px solid $blue-dark;
  transform: rotate(45deg);
  margin-bottom: 4px;
  margin-left: 6px;
  transform-origin: center;
  transition: 0.3s ease;
}

.nav-item {
  &:hover {
    .nav-reveal-list {
      display: block;
    }
    .nav-arrow {
      transform: rotate(225deg);
      margin-bottom: 0px;
      border-color: $orange;
    }
    .nav-reveal {
      color: $orange;
    }
  }
}

.nav-reveal-list {
  position: absolute;
  left: 0;
  top: 25px;
  background: white;
  border: 1px solid $orange;
  border-radius: 7px;
  width: 214px;
  display: none;
  z-index: 100;
  overflow: hidden;
  &--dark {
    border-color: $blue-dark;
  }
}

.nav-reveal-list--dark .nav-reveal-link:hover {
  background-color: $blue-dark;
}

.nav-reveal-list--dark .nav-reveal-item {
  border-bottom-color: $blue-dark;
}

.nav-reveal-item {
  border-bottom: 1px solid $orange;
}

.nav-reveal-item:last-child {
  border-bottom: none;
}

.nav-reveal-link {
  padding: 10px 18px;
  display: block;
  line-height: 28px;
  font-size: 16px;
  color: $blue-dark;
  transition: 0.3s;
}

.nav-reveal-link:hover {
  background-color: $orange;
  color: white;
}

/* main section  */
.main-section {
  background-image: url("../assets/img/food-bgc.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.main-section__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 73px 0 133px;
}

.main-section__main-title {
  max-width: 939px;
  padding-top: 17px;
}

.main-section__txt {
  padding-top: 36px;
}

.main-section__btn {
  padding-top: 50px;
  max-width: 551px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* section second */
.section-second__phone {
  width: 548px;
  position: relative;
  display: flex;
  justify-content: end;
  margin: 0 auto;
  bottom: 37px;
}

.img-phone:first-child {
  position: absolute;
  bottom: -23%;
  left: -18%;
}

.section {
  &-third {
    min-height: 100vh;
    background: linear-gradient(180deg, #4d62af 85%, transparent 1%);
  }
}

.card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: -$card-column-space;
  &__item {
    width: 220px;
    height: 160px;
    background: black;
    margin: $card-column-space;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    &:hover {
      .card__reveal {
        transform: translateY(0%);
      }
    }
    &--note {
      background-image: url("../assets/img/gallery-note.png");
    }
    &--limon {
      background-image: url("../assets/img/gallery-limon.png");
    }
    &--geometry {
      background-image: url("../assets/img/gallery-geometry.png");
    }
    &--target {
      background-image: url("../assets/img/gallery-target.png");
    }
  }
  &__reveal {
    position: absolute;
    background-color: blue;
    height: 50%;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    transition: all 0.3s ease;
    will-change: transform;
    display: flex;
    justify-content: center;
    align-items: center;
    object:first-child {
      margin-right: 15px;
    }
  }
}
