$blue-dark: #252b42;
$orange: #fa4a0c;
$black: #000000;
$white: #ffffff;
$grey: #f6f6f6;
$container-space: 0 15px;
$fs-sm: 16px;
$fs-exsm: 12px;
$fs-h1: 58px;
$fs-h2: 44px;
$fs-h3: 40px;
$fs-h4: 24px;

// container spaces
$card-column-space: 15px;
