html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a {
  color: #252b42;
}

/*  global styles */
body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 15px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/*  txt classes */
.h1 {
  font-size: 58px;
  color: white;
  font-weight: bold;
  line-height: 80px;
}

.h2 {
  font-size: 44px;
  color: #ffffff;
}

.h3 {
  font-size: 40px;
  color: #ffffff;
}

.h4 {
  font-size: 24px;
  color: #ffffff;
}

.txt-lg {
  font-size: 24px;
  color: #ffffff;
}

.txt--semibold {
  font-weight: 500;
}

.txt--bold {
  font-weight: bold;
}

.txt--medium {
  font-weight: 500;
}

.txt--center {
  text-align: center;
}

.txt--poppins {
  font-family: "Poppins", sans-serif;
}

/* txt colors */
.txt--grey {
  color: #f6f6f6;
}

.btn {
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  padding: 16px 58.5px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn--bordered {
  border: 1px solid #ffffff;
}

.btn--bordered:hover {
  background-color: #fa4a0c;
  border: 1px solid transparent;
}

.btn--orange {
  background-color: #fa4a0c;
  border: 1px solid transparent;
}

.btn--orange:hover {
  background-color: transparent;
  border: 1px solid #ffffff;
}

/* main wrap */
.main-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* header styles */
.logo-link {
  display: inline-block;
}

.nav-item {
  position: relative;
}

.nav-link,
.nav-reveal {
  font-size: 16px;
  color: #252b42;
  font-weight: 600;
  line-height: 28px;
  margin-right: 50px;
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.nav-link:hover {
  color: #fa4a0c;
}

.nav-arrow {
  width: 9px;
  height: 9px;
  display: inline-block;
  border-bottom: 2px solid #252b42;
  border-right: 2px solid #252b42;
  transform: rotate(45deg);
  margin-bottom: 4px;
  margin-left: 6px;
  transform-origin: center;
  transition: 0.3s ease;
}

.nav-item:hover .nav-reveal-list {
  display: block;
}

.nav-item:hover .nav-arrow {
  transform: rotate(225deg);
  margin-bottom: 0px;
  border-color: #fa4a0c;
}

.nav-item:hover .nav-reveal {
  color: #fa4a0c;
}

.nav-reveal-list {
  position: absolute;
  left: 0;
  top: 25px;
  background: white;
  border: 1px solid #fa4a0c;
  border-radius: 7px;
  width: 214px;
  display: none;
  z-index: 100;
  overflow: hidden;
}

.nav-reveal-list--dark {
  border-color: #252b42;
}

.nav-reveal-list--dark .nav-reveal-link:hover {
  background-color: #252b42;
}

.nav-reveal-list--dark .nav-reveal-item {
  border-bottom-color: #252b42;
}

.nav-reveal-item {
  border-bottom: 1px solid #fa4a0c;
}

.nav-reveal-item:last-child {
  border-bottom: none;
}

.nav-reveal-link {
  padding: 10px 18px;
  display: block;
  line-height: 28px;
  font-size: 16px;
  color: #252b42;
  transition: 0.3s;
}

.nav-reveal-link:hover {
  background-color: #fa4a0c;
  color: white;
}

/* main section  */
.main-section {
  background-image: url("../assets/img/food-bgc.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.main-section__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 73px 0 133px;
}

.main-section__main-title {
  max-width: 939px;
  padding-top: 17px;
}

.main-section__txt {
  padding-top: 36px;
}

.main-section__btn {
  padding-top: 50px;
  max-width: 551px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* section second */
.section-second__phone {
  width: 548px;
  position: relative;
  display: flex;
  justify-content: end;
  margin: 0 auto;
  bottom: 37px;
}

.img-phone:first-child {
  position: absolute;
  bottom: -23%;
  left: -18%;
}

.section-third {
  min-height: 100vh;
  background: linear-gradient(180deg, #4d62af 85%, transparent 1%);
}

.card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: -15px;
}

.card__item {
  width: 220px;
  height: 160px;
  background: black;
  margin: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.card__item:hover .card__reveal {
  transform: translateY(0%);
}

.card__item--note {
  background-image: url("../assets/img/gallery-note.png");
}

.card__item--limon {
  background-image: url("../assets/img/gallery-limon.png");
}

.card__item--geometry {
  background-image: url("../assets/img/gallery-geometry.png");
}

.card__item--target {
  background-image: url("../assets/img/gallery-target.png");
}

.card__reveal {
  position: absolute;
  background-color: blue;
  height: 50%;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  transition: all 0.3s ease;
  will-change: transform;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__reveal object:first-child {
  margin-right: 15px;
}
